{% extends 'bootstrap/base.html' %}

{% block title %}
YourLife
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% include "navbar.html" %}
{% block content %}

<div id= "main" class="" style="background-color: #F2F0E4; width: 100%">
    <div id="message" style="text-align: center; padding-bottom: 7px;">
        <div class="img-section">
            <h1 class="img-text" style="font-size: 7em; color: #fff">
            YourLife.
            </h1>
            <h1 class="img-text" style="color: #fff; height: 80px">
                Buscando conectar pessoas
            </h1>
            <div class="wrapper-1" style="height: 300 px; vertical-align: top; padding-top:100px">
                <div class="box-2"></div>
                <div class="box-2">
                    <a class="btn btn-primary" href="/register" role="button" style="font-size: 1.5em">Primeiro Acesso</a>
                </div>
                <div class="box-2">
                    <a class="btn btn-primary" href="/login" role="button" style="font-size: 1.5em">Faça seu Login</a>
                </div>
                <div class="box-2"></div>
                <div style="height: 100px">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="card blue">
                <h2>Profissional</h2>
                <p style="font-size:24px">Mostre toda sua carreira.</p>
              </div>
         
              <div class="card blue-dark">
                <h2>Vida</h2>
                <p style="font-size:24px">Compartilhe seus hobbies.</p>              </div>
         
              <div class="card blue-dark">
                <h2>Registro</h2>
                <p style="font-size:24px">Colecione suas melhores fotos.</p>
              </div>

              <div class="card blue">
                <h2>Experiências</h2>
                <p style="font-size:24px">Crie e edite artigos.</p>
              </div>
        </div>
      </div>

    <footer class="footer" style="width: 100%">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h2>Cadastro</h2>
                    <ul>
                        <li><a href="/register">Primeira vez</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h2>Contato</h2>
                    <ul>
                        <li><a href="#">Equipe</a></li>
                        <li><a href="#">Conversar concosco</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h2>Fotos</h2>
                    <ul>
                        <li><a href=#>Album</a></li>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <p class="copyright" style="text-align:center">YourLife © 2022</p>
            </div>
        </div>
    </footer>
</div>


{% endblock %}